<header class="c-Hero">
  <div class="c-Hero__inner">
    <h1 class="a-Txt">あなただけのアトリエを</h1>
  </div>
</header>
<article class="u-Above5">
  <section class="container">
    <h2>section 2</h2>
    <div>
      <p>command</p>
      <p>test</p>
    </div>
  </section>
  <section class="container">
    <h2>section 3</h2>
    <div>
      <p>command</p>
      <p>test</p>
    </div>
  </section>
  <section class="container">
    <h2>section 4</h2>
    <div>
      <p>command</p>
      <p>test</p>
    </div>
  </section>
  <section class="container">
    <h2>section 5</h2>
    <div>
      <p>command</p>
      <p>test</p>
    </div>
  </section>
</article>
